{% extends "home.html" %}

{% block title %}Analyzed Users{% endblock %}

{% block head %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/users.scss' %}">
{% endblock %}

{% block content %}

{% if users|length > 0 %}
<table class="rwd-table">
    <tr>
        <th>Username</th>
        <th>ID</th>
        <th>Name</th>
        <th>Created At</th>
    </tr>
    {% for user in users %}
    <tr>
        <td data-th="Username"><a href="{{user.get_absolute_url}}">{{user.username}}</a></td>
        <td data-th="ID">{{user.id}}</td>
        <td data-th="Name">{{user.name}}</td>
        <td data-th="Created At">{{user.created_at}}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}
{% endblock %}
