{% extends "home.html" %}

{% block title %}Analyzed Users{% endblock %}

{% block head %}
{% load static %}
    <link rel="stylesheet" href="{% static 'css/user.css' %}">
{% endblock %}


{% if users|length > 0 %}
    {% block body %}
    <div> 
    <table class="container">
        <thead>
        <tr>
            <th>Username</th>
            <th>ID</th>
            <th>Name</th>
            <th>Created At</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
        
        <tr>
            <td><h1><a href="{{user.get_absolute_url}}">{{user.username}}</a></h1></td>
            <td><h1>{{user.id}}</h1></td>
            <td><h1>{{user.name}}</h1></td>
            <td><h1>{{user.created_at}}</h1></td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    {% endblock %}
{% endif %}

{% block logo %}{% endblock %}
    {% block header_txt %}
    <div>
    {% if not users %}
        <img src="{% static 'user/spongebob.jpg' %}">
    {% elif users %}
    <h1> Users </h1>
    {% endif %}
    </div>
    {% endblock %}
