{% extends "home.html" %}
{% load user_extras %}
{% if user|length > 0 %}
{% block title %}User{% endblock %}
{% block head %}
{% load static %}
    <link rel="stylesheet" href="{% static 'user/user.css' %}">
{% endblock %}
{% block logo %}
{% endblock %}
{% block header_txt %}

<div class="card">
    <br>
    <img src="{{user.profile_img}}" alt="Profile Image" width="240px" height="240px" class="clip-circle">

    <h1><a href="{{user.profile_url}}">{{user.username}}
    {% if user.verified %}
    <img src="{% static 'user/verified.png' %}" alt="verified" width="30px" height="30px">
    {% endif %}
    </a></h1>
    <p>
    Created at: {{user.created_at}} <br>
    Followers: {{user.followers_count}}<br>
    Following: {{user.following_count}}, 
    Tweets: {{user.tweet_count}}
    </p>
</div>
    
{% endblock %}

{% block body %}
<div class="inner-header">
    <div class="item">
    {{bar_plotly|safe}}
    </div>

    </div>

{% if tweets|length > 0 %}
<div class="flex">
    <div class = "card">
    <img src="{% static 'user/media/'|add:wordcloud %}" width="400px" height="400px">
    </div>

{% for tweet in tweets %}
    <div class = "mini-card" {% if tweet.sentiment == "Positive" %} style="background:#A5D6A7"
                             {% elif tweet.sentiment == "Negative" %} style="background:#EF9A9A" {% endif %}>
        <h6>
        Confidence: {{tweet.confidence|perc}} <br>
        {{tweet.created_at}}:
        </h6>
        <h4>
        {{tweet.text}}
        </h4>
    </div>
{% endfor %}
</div>
{% endif %}
{% endblock %}
{% endif %}
