{% extends "home.html" %}
{% load word_extras %}
{% block title %}Tweets{% endblock %}
{% block head %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'user/user.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'wordcheck/wordcheck.css' %}">
{% endblock %}

{% block logo %}{% endblock %}
{% block header_txt %}
{% if wordform %}
<form class="wordcheck_form" action="/wordcheck/compare" method="POST">
    {% csrf_token %}
    {{wordform}}<br><br>
    <input type="submit" type="submit"></button>
</form>
{% endif %}
<div>
{% if predicted|length > 0 %}
<div class="flex">
<div class="item mini-card" {% if predicted.sentiment == "Positive" %} style="background:#A5D6A7"
                             {% elif predicted.sentiment == "Negative" %} style="background:#EF9A9A" {% endif %}>
    <h2>{{predicted.txt}}</h2>
    <h4>Confidence: {{ predicted.confidence|perc }}</h4>
</div>
</div>
{% endif %}
</div>
{% endblock %}
