{% extends "home.html" %}
{% block title %}Tweets{% endblock %}
{% block head %}
{% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'tweet/tweets.css' %}">
{% endblock %}
{% block navbar-extra %}
<li class="nav-item">
    <a class="nav-link" href="/tweets/csv">Download</a>
</li>
{% endblock %}
{% block logo %}{% endblock %}
{% block header_txt %}
<h1>Tweets</h1>
{% endblock %}
{% block body %}
{% if tweets|length > 0 %}

<div class="tweet-flex">
{% for tweet in tweets %}
     <div class = "mini-card-tweet" {% if tweet.sentiment == "Positive" %} style="background:#A5D6A7"
                             {% elif tweet.sentiment == "Negative" %} style="background:#EF9A9A" {% endif %}>
        <img src="{{tweet.user.profile_img}}" width="46px" height="46px">
        <h3><a href="{{tweet.user.profile_url}}">@{{tweet.user.username}}:</a></h3>
        <h6>
        Confidence: {{tweet.confidence|stringformat:".2f"}}, Created at {{tweet.created_at}}:  
        </h6>

        <h5>
        {{tweet.text}}
        </h5>
    </div>
{% endfor %}
</div>

{% endif %}
{% endblock %}
